/* xóa hết những định dạng mặc định của các trang có sẵn */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
 display: block;
}

ol,
ul {
 list-style: none;
}

blockquote,
q {
 quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
 content: "";
 content: none;
}

table {
 border-collapse: collapse;
 border-spacing: 0;
}

/******************
     THEME 
*******************/
:root {
 /*=============== 
        COLORS 
    =================*/
/* Primary colors */
--p-20: hsl(165, 45%, 98%);
--p-50: hsl(165, 40%, 96%);
--p-100: hsl(165, 35%, 92%);
--p-200: hsl(165, 40%, 85%);
--p-300: hsl(164, 50%, 75%);
--p-400: hsl(163, 60%, 65%);
--p-450: hsl(162, 68%, 56%);
--p-500: hsl(160, 72%, 46%);
--p-500-code: 160, 72%, 46%;
--p-600: hsl(160, 75%, 38%);
--p-600-code: 160, 75%, 38%;
--p-700: hsl(161, 78%, 30%);
--p-700-code: 161, 78%, 30%;
--p-800: hsl(162, 70%, 24%);
--p-900: hsl(163, 60%, 18%);
--p-900-code: 163, 60%, 18%;
--p-950: hsl(164, 55%, 12%);
--p-950-code: 164, 55%, 12%;

/* Neutrals */
--n-50: hsl(165, 12%, 97%);
--n-500: hsl(170, 8%, 46%);
--n-600: hsl(170, 10%, 34%);
--foreground-color: hsl(0, 0%, 100%); /* background color */

/* Gradients */
--main-gradient-color: linear-gradient(
  to right,
  var(--p-450),
  var(--p-500)
);

--gradient-color: linear-gradient(
  var(--foreground-color) 10%,
  var(--p-100)
);

 /*================================= 
        FONTS -  Sử dụng Scale 1.125
    =================================*/
 /* 32px */
 --h1-font-size: 2rem;
 /* 36px */
 --h1-line-height: 2.25rem;

 /* 26px */
 --h2-font-size: 1.6rem;
 /* 32px */
 --h2-line-height: 2rem;

 /* 20px */
 --h3-font-size: 1.266rem;
 /* 24px */
 --h3-line-height: 1.5rem;

 /* 18px */
 --h4-font-size: 1.125rem;
 /* 16px */
 --h4-line-height: 1.5rem;

 /* 16px */
 --p-font-size: 1rem;
 /* 24px */
 --p-line-height: 1.5rem;

 --p-letter-spacing: 0.025rem;

 /* 12px */
 --caption-font-size: 0.875rem;
 /* 16px */
 --caption-line-height: 1rem;
}